<a href="https://colab.research.google.com/github/NicollyeCrist/Python/blob/main/aula06_colecoes_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Coleções em Python

#Listas
#Ordenadas e mutáveis

In [ ]:
#Adicionando elementos ás listas

#um valor
nomes = ['Ze','tiao','joaquim']
nomes.append('Julia')

#vários valores
outrosNomes = ['Ana','Zabé','Maria']
nomes.extend(outrosNomes)
nomes

['Ze', 'tiao', 'joaquim', 'Julia', 'Ana', 'Zabé', 'Maria']

In [ ]:
#Remoção de elementos
#remove.() - Remove o primeiro elemento
#pop.() - Remove o último elemento

#Crie uma lista de números e
numeros = [2, 4, 7, 8, 9, 12] 
#Remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remoca o último elemento da lista
numeros.pop()

numeros

[4, 7, 8, 9]

In [ ]:
#Ordenação de ELementos
#lista.sort() - ordena em ordem crescente
#lista.sort(reverse=True) - ordena em ordem decrescente

#1 - Crie ma lista de notas, e exiba-a da menor para a maior nota
notas = [2, 10, 6, 7, 3, 5]
nomes = ['Ademar','Maristênio', 'Asdrúbal', 'Leo']
notas.sort()
nomes.sort(reverse=True)

#2 -Crie uma lista de nomes de frutas e ordene-a em ordem descrescente

nomes

['Maristênio', 'Leo', 'Asdrúbal', 'Ademar']

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [ ]:
#pegar cada um dos números e dividir por 3
numDivi = list(map(lambda x : x/3, numeros))
numDivi

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [ ]:
#Pega cada número e soma 2.
numSom = list(map(lambda x : x+2, numeros))
numSom

[4, 6, 8, 5]

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma lista de nomes,

nomes = ['José', 'Joaquim', 'Sebastião', 'Angélica', 'Leonardo']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Joaquim', 'Sebastião', 'Angelica', 'Leonardo']

In [ ]:
#Crie uma lista de notas, imprime apenas as maiores que 6

notas = [3, 7, 8, 6, 9, 10]

new_notas = list(filter(lambda x : (x)>6, notas))
new_notas

[7, 8, 9, 10]

In [ ]:
#Exercícios

#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.

numeros01 = [3, 4, 6, 9, 3, 2]
new_num = list(map(lambda x : x**2, numeros01))
new_num

[9, 16, 36, 81, 9, 4]

In [ ]:
#Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.

nomes = ['João', 'Amélia', 'Chris', 'Geovaldo']
new_nam = list(map(lambda x : len(x), nomes))
new_nam

[4, 6, 5, 8]

In [ ]:
#Dada uma lista de números, retorne uma lista contendo apenas os números pares.

numeros02 = [ 2, 6, 8, 1, 9, 10]
new_num = list(filter(lambda x : (x)%2 == 0, numeros02))
new_num

[2, 6, 8, 10]

In [ ]:
#Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".

nomes01 = ['Joaquina', 'Letícia', 'Abigail', 'Hamilton', 'Acastro']
new_nam = list(filter(lambda x : x[0]== 'A', nomes01))
new_nam

['Abigail', 'Acastro']

In [ ]:
#Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)

notas = [7, 4, 8, 9, 10, 3, 2]
new_notas = list(filter(lambda x : (x)>=7, notas))
new_notas

[7, 8, 9, 10]

In [ ]:
#Recebe uma lista de nomes, retorna apenas os que começam com vogal.

nomes02 = ['Castro', 'Otto', 'Fernando', 'Perez', 'Uberval']
new_nam = list(filter(lambda x : x[0].upper() in 'AEIOU', nomes02))
new_nam

['Otto', 'Uberval']

In [ ]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.

numeros = [ 2, 14, 15, 20, 5, 3]
new_num = list(filter(lambda x : (x)%3 == 0 and (x)%5 == 0, numeros ))
new_num

[15]

In [ ]:
#Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que começam com uma letra maiúscula.

nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].isupper(), nomes))

new_List

['W', 'A', 'J', 'K']

In [ ]:
#Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.

iniciais = list(map(lambda x : x[0], nomes))

iniciais

['W', 'A', 'J', 'K']

In [ ]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

numeros = [12, 32, 62, 11, 18, 24]
new_num = list(filter(lambda x : (x)%2 == 0 and (x)**2, numeros))
new_num

[12, 32, 62, 18, 24]